@keyframes slideInLeft {
    from {
        transform: translateX(-300px);
    }

    to {
        transform: translateX(0);
    }
}
.heading-1 {
    animation-name: slideInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in ;
    animation-delay: .5s;
    animation-iteration-count: 1;
    animation-direction: normal;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E6E1D5;
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 20px 0;
    padding: 0;
    float: right;
}

ul li {
    display: inline;
    margin-right: 20px;
}

ul a {
    padding: 8px;
    padding-top: 30px;
    padding-right: 20px;
    text-decoration: none;
    color: black;
    font-size: 23px;
}

.logo {
    display: flex;
    align-items: center;
    margin: 1px;
    float: left;
    padding-left: 20px;
}

.logo a {
    text-decoration: none;
    color: black;
    font-size: 25px;
}

.first-picture-slide img {
    width: 100%;
    padding-bottom: 80px;
    background-color: #E6E1D5;
}

#the-local-hut {
    padding-left: 15px;
    letter-spacing: 2px;
    font-size: 30px;
}

a:hover {
    color: grey;
}


/* Box Containers following the header */
.box-1 {
    background-image: url(images/beige-background.png);
    color: #47352D;
}

.box-2 {
    background-color: #7C7B5D;
    color: white;
}

.box-3 {
    background-color: #D39A98;
    color: white;
}

.box-4 {
    background-image: url(images/beige-background.png);
    color: #47352D;
}

.box-container h1 {
    margin: 15px;
    padding: 70px;
    padding-bottom: 20px;
    font-size: 90px;

}

.box-container section {
    font-size: 30px;
}

.box-1 section,
.box-3 section {
    float: left;
    padding-left: 100px;
    text-align: center;
}

.box-2 section,
.box-4 section {
    display: flex;
    flex-flow: column;
    float: right;
    padding-left: 125px;
    padding-right: 175px;
    justify-content: flex-end;
    text-align: center;
}

.available-info {
    padding-top: 50px;
    font-size: 23.5px;
    font-family: 'Courier New', Courier, monospace;
}

.business-desc {
    font-size: 40.3px;
}

.box-3 .business-desc {
    font-size: 43.3px;
}

.box-2 h1,
.box-4 h1 {
    display: flex;
    justify-content: right;
}

.shop_button {
    border: #47352D 1 solid;
    background-color: white;
    text-decoration: none;
    border-radius: 10px;
    padding: 5px;

    text-align: center;
    width: 50%;
}