/* @keyframes slideInLeft {
    from {
        transform: translateX(30px);
    }

    to {
        transform: translateX(-40px);
    }
}
.text-overlay {
    animation-name: slideInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in ;
    animation-delay: 0;
    animation-iteration-count: 1;
    animation-direction: normal;
} */
/* INDEX PAGE */
body {
    width: 100%;
    margin: 0;
    background: rgb(230, 225, 213);
    background: linear-gradient(0deg, rgba(230, 225, 213, 1) 0%, rgba(230, 225, 213, 1) 15%, rgba(211, 154, 152, 1) 30%, rgba(211, 154, 152, 1) 36%, rgba(124, 123, 93, 1) 47%, rgba(124, 123, 93, 1) 56%, rgba(230, 225, 213, 1) 83%, rgba(230, 225, 213, 1) 100%);
    overflow-x: hidden;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E6E1D5;
    padding: 10px;
    box-shadow: 0 3px 10px -6px;
    overflow-x: hidden;
}

.logo {
    display: flex;
    align-items: center;
}

.logo a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    margin-left: 1pc;
}

ul {
    list-style-type: none;
    margin: 20px 0;
    padding: 0;
    float: right;
}

ul li {
    display: inline-block;
    margin-right: 20px;
}

ul a {
    padding: 8px;
    padding-right: 20px;
    text-decoration: none;
    color: black;
    font-size: 23px;
}
.textoverlay {
   position: absolute;
   top: 400px;
   left: 20%;
   transform: translate(-50%, -50%);
   color: white;
   font-size: 60px;
   text-align: center;
   z-index: 1;
}
.bold-overlay {
   font-family: 'Fugaz One', sans-serif;
   font-size: 100px;
   padding-left: 250px;
   text-wrap: nowrap;
}

.box-container .box {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid red;
    max-width: 95%;
    margin: 0 auto;
    color:#47352D;
    font-family: sans-serif;
}
.box-container .box-1 {
    background-color: #E6E1D5;
    font-size: 120%;
}
.box-container .box-2 {
    background-color: #E6E1D5;
    font-size: 130%;
}
.box-container .box-3 {
    background-color: #E6E1D5;
    font-size: 120%;
}
.box-container .box-4 {
    background-color: #E6E1D5;
    font-size: 120%;
}
a.shop_button {
    text-decoration: none;
    color: #47352D;
    border: #47352D solid;
 }

footer {
    display: flex;
    width: 100%;
    flex-direction: column;
    border: blue solid;
    align-items: center;
}
.footer-links {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 1.5rem;
}
.footer-links a {
    color: rgb(55, 59, 59);
}
.primary-navigation {
    display: flex;
}

.mobile-nav-toggle {
    display: none;
}

@media (max-width: 55em) {
    .primary-navigation {
        gap: 2em;
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 60%;
        flex-direction: column;
        padding: min(15vh, 10rem) 2em;
        background: #E6E1D5;
        backdrop-filter: blur(1rem);

        transform: translateX(100%);
        transition: transform 350ms ease-in-out;
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 9999;
        background-color: transparent;
        background-image: url(images/hamburg.svg);
        background-repeat: no-repeat;
        border: 0;
        width: 2rem;
        aspect-ratio: 1;
        right: 2rem;
    }
}

@media (max-width:600px) {
    .first-picture-slide img {
        width: 170%;
        background-color: #E6E1D5;
        object-fit: cover;
    }
    .first-picture-slide {
        position: relative;
        overflow: hidden;
    }
    .textoverlay {
        position: absolute;
        top: 185px;
        color: white;
        font-size: 35px;
        z-index: 1;
        line-height: 100%;
     }
     .bold-overlay {
        font-family: 'Fugaz One', sans-serif;
        font-size: 40px;
        padding-left: 140px ;
     }
}
.other-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #47352D;
    font-family: sans-serif;
}


/* SHOPS PAGE */
.shop-container .shop {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 1rem;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 10px;
    color:#47352D;
    font-family: sans-serif;
    overflow: hidden;
    width: 300px;
    height: 300px;
    flex-flow: wrap;
}
.shop-img {
  position: relative;
  width: 100%; 
  height: 100%; /* Set the height to 100% to fill the container */
  overflow: hidden;
}
.shop img {
    width: 100%;
    height: 100%;
    display: block;
}
.shop-container {
    position: relative;
}
.shop-text-overlay {
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    color:#47352D; 
    text-align: center;
    z-index: 2; 
    background-color: rgba(255, 251, 251, 0.7);
  }

.shop-container .box-1 {
    background-color: white;
}
.shop-container .box-1 img{
    width: 350px;
    height: 300px;
}
.shop-container .box-2 {
    background-color: white;
}
.shop-container .box-2 img{
    width: 350px;
    height: 300px;
}
.shop-container .box-3 {
    background-color: white;
}
.shop-container .box-4 {
    background-color: white;
}
.shop-container .box-4 img{
    width: 350px;
    height: 300px;
}
.shop-container .box-5 {
    background-color: white;
}
.shop-container .box-5 img{
    width: 350px;
    height: 300px;
}
.shop-container .box-6 {
    background-color: white;
}

/* CONTACT PAGE */
.header-content {
    box-shadow: 0 3px 9px -6px;
}
.contact-body  {
    background: rgb(211,154,152);
background: radial-gradient(circle, rgba(211,154,152,1) 0%, rgba(230,225,213,1) 100%);
}
.contact-fieldset {
    font-family: 'Roboto', sans-serif;
    border: none;
    text-align: center;
    margin: auto;
    padding-bottom: 100px;
    padding: 20px;
}

.contact-h1 {
    font-size: 50px;
    color:#47352D;
    font-family: serif;
}
.contact-p {
    font-size: 23px;
    font-family: sans-serif;
    color: #47352D;
}
.contact-info {
    display: grid;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    font-size: 17px;
    border: white solid;
    background: ;
}
.name-phone {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    margin-bottom: 5px;
}
#email-address{
    display: grid;
    gap: 5px;
}

.email-desc #biz-description {
    margin-top: 5px;
    grid-row: span 10;
    height: 150px;
    font-family: sans-serif;
    font-size: 17px;
}

#submit-contact {
    max-width: 45%;
    margin-top: 15px;
    background-color:white ;
    color: rgb(120, 120, 120);
    font-size: 15px;
    border: none;
    padding: 10px;
}
.contact-box {
    display: grid;
    place-items: center;
    margin-top: 75px;
    font-size: 20px;
}