.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E6E1D5;
    padding: 10px;
}
ul {
    list-style-type: none;
    margin: 20px 0;
    padding: 0;
    float: right;
}
ul li {
    display: inline;
    margin-right: 20px;
}
ul a {
    padding: 8px;
    padding-top: 30px;
    padding-right: 20px;
    text-decoration: none;
    color: black;
    font-size: 23px;
}
.logo {
    display: flex;
    align-items: center;
    margin: 1px;
    float: left;
    padding-left: 20px;
}
.logo a {
    text-decoration: none;
    color: black;
    font-size: 25px;
}
.picture-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #E6E1D5;
}
.first-picture-slide img {
    width: 100%;

}
#the-local-hut {
    padding-left: 15px;
    letter-spacing: 2px;
    font-size: 30px;
}
a:hover {
    color: grey;
}
.box-1 {
    margin-top: 10px;
    background-image: url(images/beige-background.png);
}
.box-2 {
    background-color: #7C7B5D;
}
.box-3 {
    background-color: #D39A98;
}
.box-4 {
    background-image: url(images/beige-background.png);
}

